*{
    margin: 0;
    padding: 0;
}
A {
    /* Цвет ссылок */
    text-decoration: none;
    color: black;
}

A:visited {
    /* Цвет посещенных ссылок */
    text-decoration: none;
    color: black;
}

A:active {
    /* Цвет активных ссылок */
    text-decoration: none;
    color: none;
}
html {
     overflow-x:  hidden; }
header{
    width: 100vw;
    height: 150px;
    display: flex;
}
.logo{
    width: 12vw;
    height: 7.7vw;
    margin-left: 5vw;
}
.menu{
    width: 100vw;
    height: 7.7vw;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
}
.menu h1{
    color: black;
    font-size: 24px;
    font-family: "Oswald";
}
.menu h1+h1{
    margin-left: 6vw;
}

#slider_bl_css .slides{
    padding:0;
    width:  50vw;
    height: 25vw;
    display:block;
    margin:0 auto;
    position:relative;
    margin-top: 3vw;
}
#slider_bl_css .slides *{
        user-select:none;
        -ms-user-select:none;
        -moz-user-select:none;
        -khtml-user-select:none;
        -webkit-user-select:none;
        -webkit-touch-callout:none}
#slider_bl_css .slides input{
    display:none}
#slider_bl_css .slide-container{
    display:block}
#slider_bl_css .slide{
        top:0;
        opacity:0;
        width: 50vw;
        height: 25vw;
        display:block;
        position:absolute;
        transform:scale(0);
        transition:all .7s ease-in-out
    }
 #slider_bl_css .slide img{
            width:100%;
            height:100%
        }
#slider_bl_css .nav label{
    width:100px;
    height:100%;
    display:none;
    position:absolute;
    opacity:0;
    z-index:9;
    cursor:pointer;
    transition:opacity .5s;
    color:#FFF;
    font-size:156pt;
    text-align:center;
    line-height:380px;
    background-color:rgba(255,255,255,.3);
    text-shadow:0 0 15px #777
}
#slider_bl_css .slide:hover+.nav label{
        opacity:.5
}
#slider_bl_css .nav label:hover{
        opacity:1
}
#slider_bl_css .nav .next{
    right:0
}
#slider_bl_css input:checked+.slide-container .slide{
    opacity:1;
    transform:scale(1);
    transition:opacity 1s ease-in-out
}
#slider_bl_css input:checked+.slide-container .nav label{
    display:block
}

.baner{
    margin-top: 5vw;
    width: 100vw;
    height: 43vw;
    display: flex;
}
.baner_img{
    width: 50vw;
    height: 43vw;
    background-image: url(img/baner1.jpg);
    background-size: 77%;
    background-repeat: no-repeat;
    margin-right: 0vw;
}
.baner h1{
    font-size: 54px;
    font-family: "Oswald";
    margin-left: 10vw;
}
.baner_text{
    width: 47vw;
    height: 37vw;
    font-size: 34px;
    font-family: "Oswald";
    text-align: justify;
    margin-left: 10vw;
}
.baner_info{
    width: 100vw;
    height: 40vw;
}
.header_text{
    width: 100vw;
    height: 5vw;
    margin-top: 5vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 44px;
    font-family: "Oswald";
}
.tovars{
    width: 100vw;
    height: auto;
    border: solid red 1px;
    display: flex;
}
.item {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .08);
    padding: 15px 0;
    margin: 0 auto;
    background: white;
 }
 .item a {
    text-decoration: none;
    outline: 0;
 }
 .product {
    padding: 0 15px;
    position: relative;
 }
 .thumb-img {
    position: relative;
    overflow: hidden;
 }
 .thumb-img img {
    width: 100%;
    display: block;
 }
 .thumb-img:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(185, 0, 161, 0.5);
    opacity: 0;
    transition: .3s ease-in-out;
 }
 .product:hover .thumb-img:after {
    opacity: 1;
 }
 .actions {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0 15px;
    text-align: center;
    opacity: 0;
    transition: .3s ease-in-out;
 }
 .product:hover .actions {
    top: 50%;
    opacity: 1;
 }
 .actions a {
    margin: 7px 6px;
    color: white;
    height: 30px;
    line-height: 26px;
    display: inline-block;
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid white;
    background: transparent;
    transition: .3s ease-in-out;
 }
 .share-button {
    width: 30px;
 }
 .add-to-cart:hover {
    background: #c90000;
 }
 .actions a:hover {
    border-color: #000000;
    background: #000000;
 }
 .share-wrap {
    display: inline-block;
    height: 30px;
    position: relative;
    margin: 7px 6px;
 }
 .share-item {
    width: 200px;
    margin-left: -100px;
    position: absolute;
    z-index: 3;
    bottom: 38px;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: .3s ease-in-out;
 }
 .share-wrap:hover .share-item {
    opacity: 1;
    visibility: visible;
 }
 .add-to-cart {
    padding: 0 20px;
 }
 .product-about {
    padding: 20px 0 0;
    text-align: center;
 }
 .product-title {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
    font-size: 16px;
    margin: 5px 0 15px;
    font-weight: normal;
 }
 .product-title a {
    color: #373737;
 }
 .price {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #F2453E;
 }
.sus{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #130921;
}
.heading {
  color: #fff;
  text-align: center;
  font-size: 2em;
  margin: 2em 0;
}
.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  margin: 0 1em;
}
.images img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s all ease;
}
.images img:hover {
  transform: scale(0.9);
}
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}
.modalContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalImg {
  width: 80%;
  max-width: 700px;
}
.modalTxt {
  margin-top: 1em;
}
.close {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal.appear {
  opacity: 1;
  pointer-events: all;
}
.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}